################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj
/src/.vs/BaskaranBlog/v16
/src/bin/Debug/netstandard2.1
/src/.vs/BaskaranBlog/config/debuggerConfiguration-d236f48c-16fb-40da-8e97-ea8822f56fbb.json
/src/wwwroot/debug.log
/src/.vs/BaskaranBlog/config/applicationhost.config
/src/.vs/BaskaranBlog/DesignTimeBuild/.dtbcache.v2
/src/bin/Release/netstandard2.1
/src/bin/Debug/net5.0
/src/bin/Release/net5.0/ref
/src/bin/Release/net5.0
/src/Properties/PublishProfiles
/src/Properties/ServiceDependencies/BaskaranTest - Web Deploy/profile.arm.json
/src/debug.log
/src/BaskaranBlog.csproj.user
