################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj
/src/.vs/BaskaranBlog/v16
/src/bin/Debug/netstandard2.1
