@page "/posts/2020/november/blazor-part-1"

<div>
    <table>
        <tbody>
            <tr class="post-header">
                <td colspan="2">Building blog with Blazor: Part 1</td>
            </tr>
            <tr class="post-image">
                <td colspan="2"><img src="/assets/posts/2020/november/blazor-part1/blazor-head.jpg" alt="Blazor" class="image"/></td>
            </tr>
            <tr class="post-body">
                <td colspan="2">
                    <p>
                        In this post, I will share with you on my journey on how I created my blog with
                        Blazor WebAssembly .NET Core 3.1 & my future plans.

                        Blazor uses open web standards without plugins or code transpilation. Blazor works in all modern web browsers, including mobile browsers.

                        Code running in the browser executes in the same security sandbox as JavaScript frameworks. Blazor code executing on the server has the flexibility to do anything
                        you would normally do on the server, such as connecting directly to a database.
                    </p>
                    <p>
                        In this post, I will share with you on my journey on how I created my blog with
                        Blazor WebAssembly .NET Core 3.1 & my future plans.

                        Blazor uses open web standards without plugins or code transpilation. Blazor works in all modern web browsers, including mobile browsers.

                        Code running in the browser executes in the same security sandbox as JavaScript frameworks. Blazor code executing on the server has the flexibility to do anything
                        you would normally do on the server, such as connecting directly to a database.
                    </p>

                    <p>
                        In this post, I will share with you on my journey on how I created my blog with
                        Blazor WebAssembly .NET Core 3.1 & my future plans.

                        Blazor uses open web standards without plugins or code transpilation. Blazor works in all modern web browsers, including mobile browsers.

                        Code running in the browser executes in the same security sandbox as JavaScript frameworks. Blazor code executing on the server has the flexibility to do anything
                        you would normally do on the server, such as connecting directly to a database.
                    </p>
                </td>
            </tr>
            <tr class="post-footer">
                <td>
                    <span class="tags">C#</span>
                    <span class="tags">Blazor</span>
                    <span class="tags">WebAssembly</span>
                </td>
                <td align="right">Posted on 11th November 2020</td>
            </tr>
        </tbody>
    </table>
</div>