<a href="https://www.facebook.com/saibaskar57" class="fab fa-facebook-f"></a>
<a href="https://github.com/saibaskaran57" class="fab fa-github"></a>
<a href="https://my.linkedin.com/in/baskaran-govindaras" class="fab fa-linkedin-in"></a>
<p>Copyrights © @currentYear Baskaran. All Rights Reserved.</p>

@code {
    private string currentYear = DateTime.Now.ToString("yyyy");
}