@inherits LayoutComponentBase

<div class="container main">
    <header class="container header">
        <Navigation />
    </header>
    <div class="container content">
        @Body
    </div>
    <footer class="container footer">
        <Copyrights />
    </footer>
</div>