@inherits LayoutComponentBase

<div class="main">
    <header class="header">
        <Navigation />
    </header>
    <div class="content">
        @Body
    </div>
    <footer class="footer">
        <Copyrights />
    </footer>
</div>