<div class="navbar navbar-expand-lg navbar-light">
    <a class="logo" @onclick="ResetNavMenu" href="/">
        Baskaran <img src="/assets/avatar/baskaran.jpg" alt="Baskaran" class="avatar-mobile">
    </a>
   
    <button @onclick="ToggleNavMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse justify-content-end" id="navbarNav" @onclick="ToggleNavMenu">
        <div class="navbar-nav">
            <NavLink class="nav-item nav-link" href="/posts" Match="NavLinkMatch.All">
                <i class="fas fa-blog"></i> Posts
            </NavLink>
            <NavLink class="nav-item nav-link" href="/about" Match="NavLinkMatch.All">
                <i class="far fa-address-card"></i> About
            </NavLink>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ResetNavMenu()
    {
        collapseNavMenu = true;
    }
}
