@page "/about"

<Title Value="Baskaran Blog - About me"></Title>

<div class="about">
    <img src="/assets/avatar/baskaran.jpg" alt="Baskaran" class="avatar">
    <div class="content" style="text-align:justify">
        <h1 align="center"><strong>A brief introduction</strong></h1>
        <h5 align="center" style="color:#808080"><i>"Never give up on what you truly love"</i></h5>
        <p>
            Hey there, my name is Baskaran Govindaras. I'm a software developer working in Kuala Lumpur, Malaysia. I specialize in software
            projects that builds micro-services architecture with ASP.NET Core & Azure Functions with fully automated CI/CD.
        </p>

        <p>
            My passion on software development started since 2009 where I wrote my first hello world program on C language. I went on to write
            classic ASP & PHP for my internship programme and started my first full-time professional job on .NET on 2015. I've managed to learn &
            grow with the right mentorship & guidance to release my first ever feature development with .NET Framework 4.6.1 to Production environment.
            During the years, I've managed to experience on software best practices(e.g. Clean Code, TDD), CI/CD with TFS & Azure DevOps, project 
            management frameworks like Scrum & Lean Six Sigma.
        </p>

        <p>
            Today, I'm fully focused on writing softwares that optimizes performance, productivity & most importantly cultivating clean practices
            on software development. It's never too late for anything & I have embarked a new journey to start blogging with technologies and share
            what I have learned along the years. I love minimalist designs which explains my black & white blog theme. 
        </p>

        <p>
            Apart from being coupled with my laptop, I love watching football and big fan of Manchester United. I also love playing PC games like
            SimCity, FIFA & Dota 2 on my free time. I've always enjoyed learning new things, sharing, and most importantly meeting & collaborating
            with people. So, feel free to say hello and share your story with me using my contacts links below.
        </p>
    </div>
</div>
