@page "/"

    <div>
        <img src="/assets/avatar/baskaran.jpg" alt="Baskaran" class="avatar">
        <div class="about">
            <h1>Hi, I'm Baskaran.</h1>
            <p>
                I'm a software developer with experience on Microsoft .NET technlogies & Azure development. I've always enjoyed learning new things, sharing,
                and most importantly meeting & collaborating with people.
            </p>
        </div>
    </div>

    <div>
        <h2>Pinned Posts</h2>
        <div class="column">
            <div class="card">
                <table>
                    <tbody>
                        <tr class="content-header">
                            <td colspan="2"><a href="/posts/2020/november/blazor-part-1" class="logo">Building blog with Blazor: Part 1</a></td>
                        </tr>
                        <tr class="content-body">
                            <td colspan="2">
                                In this post, I will share with you on my journey on how I created my blog with
                                Blazor WebAssembly .NET Core 3.1 & my future plans.
                            </td>
                        </tr>
                        <tr class="content-footer">
                            <td>
                                <span class="tags">C#</span>
                                <span class="tags">Blazor</span>
                                <span class="tags">WebAssembly</span>
                            </td>
                            <td align="right">Posted on 11th November 2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <table>
                    <tbody>
                        <tr class="content-header">
                            <td colspan="2"><a href="#default" class="logo">Building blog with Blazor: Part 2</a></td>
                        </tr>
                        <tr class="content-body">
                            <td colspan="2">
                                In this post, I will share with you on my journey on how I created my blog with
                                Blazor WebAssembly .NET Core 3.1 & my future plans.
                            </td>
                        </tr>
                        <tr class="content-footer">
                            <td>
                                <span class="tags">C#</span>
                                <span class="tags">Blazor</span>
                            </td>
                            <td align="right">Posted on 11th November 2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <table>
                <tbody>
                    <tr class="content-header">
                        <td colspan="2"><a href="#default" class="logo">Building blog with Blazor: Part 2</a></td>
                    </tr>
                    <tr class="content-body">
                        <td colspan="2">
                            In this post, I will share with you on my journey on how I created my blog with
                            Blazor WebAssembly .NET Core 3.1 & my future plans.
                        </td>
                    </tr>
                    <tr class="content-footer">
                        <td>
                            <span class="tags">C#</span>
                            <span class="tags">Blazor</span>
                        </td>
                        <td align="right">Posted on 11th November 2020</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

