@page "/posts/2020/11/BlazorRelease"


<div class="post-header">
    @PostHeader
</div>

<div class="post-sub-header">
    <span class="tags">C#</span>
    <span class="tags">Blazor</span>
    <span>&middot;</span>
    <span>Posted on @PostDate</span>
    <span>&middot;</span>
    <span>@PostReadDuration read</span>
</div>

<div class="post-image">
    <img src="@PostBaseImage/javier-allegue-barros-header.jpg" alt="Blazor" class="image" />
    Photo by <a href="https://unsplash.com/&commat;soymeraki">Javier Allegue Barros</a> on Unsplash
</div>

<div class="post-body">
    <p>
        Stay tuned! In progress now..
    </p>
</div>

<div class="post-footer">
    <SocialMedia Title="@PostHeader" />
</div>

@code {
    private string PostHeader = "Building blog with Blazor - Shipping it!";
    private string PostDate = "20th November 2020";
    private string PostReadDuration = "10 minutes";
    private string PostBaseImage = "/assets/posts/2020/11/blazor-release";
}