<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1 align="center">Oops, something went wrong!</h1>
            <div class="terminal-header">
                baskaran.dev terminal
            </div>
            <div class="terminal-body">
                <span class="break">{</span>
                <span class="break">&nbsp;&nbsp;&nbsp;"code":"404"</span>
                <span class="break">&nbsp;&nbsp;&nbsp;"message":"Page not found"</span>
                <span class="break">}</span>
            </div>
        </LayoutView>
    </NotFound>
</Router>
