html, body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

p {
    padding: 1px;
}

ul, ol {
    padding: 0 0 0 1em;
}

h4, h5 {
    font-weight: bold;
}

th, td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Blog Main */
.main {
    margin: auto;
    width: 800px;
    flex: 1;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Blog logo */
.logo {
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
    font-family: Pacifico;
    font-style: normal;
    font-variant: normal;
}

/* Blog avatar */
.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: center;
    border: 1px solid #d2d0d0;
}

.avatar-mobile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    border: 1px solid #d2d0d0;
}

/* Blog about */
.about {
    padding-bottom: 1em;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Blog header */
.header {
    padding: 20px 0px 5px 0px;
    font-weight: bold;
}

    .header a {
        float: left;
        color: black;
        padding: 12px;
        text-decoration: none;
        line-height: 25px;
        border-radius: 4px;
    }

        .header a:hover {
            background-color: #ddd;
            color: black;
        }

    .header:after {
        content: '';
        width: 100%;
        height: 1px;
        display: inline-block;
        background: rgba(0, 0, 0, 0.2);
    }

/* Blog pinned post */
.pinned div {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .pinned div a {
        color: black;
        text-decoration: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.column {
    width: 100%;
}

.card {
    padding: 16px;
    text-align: left;
    background-color: #f6f6f6;
}

    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* this adds the "card" effect */
        background-color: #efecec;
    }

/* Blog content */
.content {
    margin: auto;
    flex: 1;
}

.content-header {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

    .content-header a {
        text-decoration: none;
        color: black;
    }

.content-body {
    font-size: 14px;
}

.content-footer {
    font-size: 10px;
}

.tags {
    padding: 4px;
    border: 1px solid #000000;
    border-radius: 5px;
}


    .tags:hover {
        color: white;
        background-color: black;
    }

/* Blog footer */
.footer {
    padding: 20px 0px 5px 0px;
    bottom: 0;
    text-align: center;
    color: black;
}

    .footer:before {
        content: '';
        width: 100%;
        height: 1px;
        display: inline-block;
        background: rgba(0, 0, 0, 0.2);
    }

/* For posts */
.post-header {
    font-weight: bolder;
    font-size: xx-large;
    text-align: left;
}

.post-sub-header {
    padding-top: 5px;
    font-size: 10px;
    text-align: left;
}

.post-image {
    text-align: center;
    font-size: small;
    color: darkgray;
    margin-bottom: 10px;
}

    .post-image a {
        text-decoration: underline;
        color: darkgray;
    }

.post-body {
    text-align: left;
    text-justify: inter-word;
}

.post-footer {
    text-align: center;
    font-size: 12px;
}

/* Post images */
.image {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 400px;
    background-size: cover;
    position: center;
    border: 1px solid #dedede;
    border-radius: 1%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

/* Post images */
.image-vertical {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 70%;
    background-size: cover;
    position: center;
    border: 1px solid #dedede;
    border-radius: 1%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

/* Code terminal styling */
.terminal-header {
    text-align: left;
    background-color: #e3e3e3;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    display: block;
    font-size: 12px;
}

.terminal-comment {
    color: limegreen;
    text-align: left;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
}

.terminal-body {
    background-color: #2e2e2e;
    color: white;
    padding: 10px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    text-align: left;
    display: block;
    overflow: auto;
    white-space: nowrap;
    word-break: normal;
    overflow-wrap: break-word;
    font-size: 12px;
}

    .terminal-body ul {
        list-style-type: none;
    }

.break {
    display: block;
}

/* Code terminal highlights */
.code-highlight-yellow {
    background-color: #dedf79;
    color: black;
}

.code-blue {
    color: #2795e9;
}

.code-yellow {
    color: #e2b90b;
}

.code-darkorange {
    color: #e13c0e;
}

.code-applegreen {
    color: #60be1f;
}


.note {
    padding: 10px;
    background-color: mediumpurple;
    color: white;
    border-radius: 6px;
    display: block;
    position: relative;
    border-radius: 6px;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    word-break: break-word;
}

.warning {
    background-color: #FFCC00;
    color: black;
}

.table {
    width: 800px;
}

/* Social media sharing links */
.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block;
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em;
}

    .resp-sharing-button__link:hover {
        text-decoration: none;
        color: #fff;
        margin: 0.5em;
    }

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: middle;
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle;
}

.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

    .resp-sharing-button--facebook:hover,
    .resp-sharing-button--facebook:active {
        background-color: #2d4373;
        border-color: #2d4373;
    }

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

    .resp-sharing-button--twitter:hover,
    .resp-sharing-button--twitter:active {
        background-color: #2795e9;
        border-color: #2795e9;
    }

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
}

    .resp-sharing-button--linkedin:hover,
    .resp-sharing-button--linkedin:active {
        background-color: #046293;
        border-color: #046293;
    }

/* Social media direct Links */
.fab {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

    .fab:hover {
        opacity: 0.7;
        text-decoration: none;
    }

/* Facebook */
.fa-facebook-f {
    background: #3B5998;
    color: white;
}

/* Github */
.fa-github {
    background: black;
    color: white;
}

/* LinkedIn */
.fa-linkedin-in {
    background: #55ACEE;
    color: white;
}

@media screen and (max-width: 799.99px) {
    .main {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .table {
        width: 100%;
    }
}

@media screen and (max-width: 574.99px) {
    .avatar {
        display: none;
    }

    .avatar-mobile {
        display: inline-block;
    }

    .logo {
        font-size: 30px;
    }
}

@media screen and (max-width: 325px) {
    .logo {
        font-size: 20px;
    }

    .avatar-mobile {
        width: 35px;
        height: 35px;
    }
}